body {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 0; 
    background-color:#e6ffe6; 
    font-family: Calibri; 
    font-size: 18px;
    color: rgb(0, 100, 0);
    color: rgba(0, 100, 0, 1);
}
.header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.navigation {
    align-items: center;
    background-color: darkgreen;
}
.navigation p {
    margin: 0;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: greenyellow;
    padding: 0 3px 3px 3px;
}
.nav-link:hover {
    color: darkgreen;
    background-color: greenyellow;
    padding: 0px 3px;
}
.hero { 
    position: relative;
    padding: 0; 
    margin: 0;
    background-color: darkgreen;
}
.hero__background {
    padding: 0; 
    margin: 0;
    height: 250px;
}
.hero__background img {
    width: 33.3%;
    padding: 0; 
    margin: 0;
    object-fit: cover;
}
.audio {
    position: absolute;
    width: 75%;
    bottom: 5px;
    right:50%;
    transform: translateX(50%);
}
.hero__title {
    background-color: rgb(230, 255, 230);
    background-color: rgba(230, 255, 230, 0.5);
    position: absolute;
    right:50%;
    transform: translateX(50%);
    text-align: center;
}
.title {
    top: 20px;
}
.title h1 {
    font-size: 40px;
    line-height: 40px;
    opacity: 1;
    padding: 5px 10px;
    margin: 0;
}
.subtitle {
    bottom: 65px;
}
.subtitle h2 {
    opacity: 1;
    padding: 0 5px;
    margin: 0;
}
.about-me {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.about-me__text {
    width: 100%;
}
.about-me__text h3 {
    margin: 5px;
}
.list {
    padding: 0 20px 0 20px;
    margin: 5px;
    list-style: circle;
}
.list a {
    color: darkgreen;
    text-decoration: none;
}
.list a:hover {
    color: orchid;
    text-decoration: underline;
}
.about-me__photo {
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
}
.about-me__photo img {
    width: 100%;
    border: 2px solid darkgreen;
}
.section {
    padding: 10px 0;
    border-top: 2px solid darkgreen;
}
.flex {
    display: flex;
}
.flex--column {
    flex-direction: column;
}

.flex--row {
    flex-direction: column;
}
.tech-skills {
    align-items: center;
}
.tech-skills__item {
    width: 100%;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tech-skills__item img {
    height: 100px;
}
.license {
    font-size: 12px;
    text-align: center;
    margin: 10px;
}
.license a {
    color: darkgreen;
    text-decoration: none;
}
.license a:hover {
    color: orchid;
    text-decoration: underline;
}
.footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.footer a {
    padding: 0px 3px;
    background-color: darkgreen;
}
