.hero__background {
    height: 600px;
}
.about-me {
    align-items: flex-start;
}
.about-me__text {
    width: 70%;
}
.about-me__photo {
    padding: 20px;
    width: 30%;
}
.tech-skills__item {
    width: 33.3%;
    padding: 10px 50px 10px 50px;
}
.tech-skills__item img {
    height: 170px;
}