.navigation {
    flex-direction: row;
    justify-content: space-around;
}
audio {
    width: 300px;
    left: 5px;
    transform: none;
}

.subtitle {
    bottom: 5px;
    right: 20px;
    transform: none;
}