body {
    width: 1000px; background-color:#e6ffe6; font-family: Calibri; font-size: 18px;
}
h1, h2, h3 {
    color: darkgreen;
}
iframe {
    margin: 5px;
}
ul {
    padding: 20px;
}
li {
    list-style: circle;
}
.header {
    width: 981px; 
    border: 5px solid darkgreen; 
    padding: 0px; 
    background-color: darkgreen;
}
.header img {
    border: 0px; 
    padding: 0px; 
    margin: 0px
}
.videos {
    width: 1200px;
}
.images {
    width: 1040px; border: 2px dotted green; padding: 5px;
}
.images img {
    border: 2px dotted green; 
    padding: 5px; 
    margin: 5px;
}